.containSkills {
    height: 400px;
}

.skillsList ul {
    list-style-type: none;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#hardSkill {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    font-size: 150%;
}
/* .skillsList {
    flex-direction
} */
.skillsLogo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    margin-top: 1px;
    margin-bottom: 1px;
}
.skillsImg {
    width: 50px;
}
.figma {
    width: 30px;
}